body {
    font-family: Arial, sans-serif;
    background-color: #cfb720;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #19d8dc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#taskInput, #timerInput {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#addTaskButton {
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#addTaskButton:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

li.completed::after {
    content: "✓";
    position: absolute;
    right: 10px;
    font-size: 1.2em;
    color: green;
}

button.delete {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button.delete:hover {
    background-color: #c82333;
}

li span.timer {
    font-weight: bold;
    margin-left: 10px;
    font-size: 0.9em;
    color: #555;
}
